a:link {
    color: #c0c0c0;
}
a:visited {
    color: #c0c0c0;
}
a:hover {
    color: #737373
}
a:active {
    color: white;
}
body {
    font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#backImage {
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
#attribute {
    background-image: url('https://assets.tmdb.org/images/logos/var_2_1_PoweredByTMDB_Blk_Logo_Bree.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15%;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    z-index: -1;
}
#cy {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#movieName {
    color: white;
    font-size: 200%;
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.float {
    border: none;
    float: right;
    position: fixed;
}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.input {
    border-color: #cccccc;
    border-radius: 50px;
    border-style: solid;
    border-width: 6px;
    box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, .75);
    font-size: 16px;
    padding: 3px;
    text-indent: 5;
    width: 300px;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 285px;
    padding: 0 5px;
}
.input:focus {
    outline: none;
}
.float .control {
    bottom: 0;
    right: 0;
}
.popUpBannerBox {
    background: rgba(0, 0, 0, 0.9);
    color: #FFF;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.popUpBannerInner {
    margin: 0 auto;
    max-width: 800px;
}
.popUpBannerContent {
    position: fixed;
    top: 150px;
}
#settings-panel {
  color: #414141;
  background: white;
  border: 1px solid #a9a9a9;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 270px;
  height: 320px;
  padding: 6px 8px;
  text-align: left;
  -webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
}


input[type=checkbox] {
display:none;
}
 
input[type=checkbox] + label
{
height: 45px;
width: 45px;
display:inline-block;
padding: 0 0 0 0px;
}




#crew + label{
background: url('https://dl.dropboxusercontent.com/s/ear21mu29o6wml2/crew-off.png');
}
#crew:checked + label{
background: url('https://dl.dropboxusercontent.com/s/jasc0i3pv92c2nw/crew-on.png');
}
#redraw + label{
background: url('https://dl.dropboxusercontent.com/s/p1zxeajxr7qqu9j/keep-layout-off.png');
}
#redraw:checked + label{
background: url('https://dl.dropboxusercontent.com/s/s0kdpe27ci6f1xp/keep-layout-on.png');
}
#showPics + label{
background: url('https://dl.dropboxusercontent.com/s/3qr33uu9rw1f7f5/show-pics-off.png');
}
#showPics:checked + label{
background: url('https://dl.dropboxusercontent.com/s/vr0agtkqxy1r27t/show-pics-on.png');
}
